

  .vertical-menu {
      display: inline-block;
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  #timeline{
      display: inline-block;
  }
  
  #classForm{
    display: inline-block;
}