<div class="header">
    <h1>{{categoryName}}</h1>
    <button id = "return" type="button"(click) = "resetCategoryChecked()" class="btn btn-primary">Class timeline</button>
</div>


<form [formGroup]="createQuizForm">
    <h2>Create Quiz</h2>
    <div class="form-group">
      <label>Quiz Name</label>
      <input type="text" class="form-control" formControlName="quiz_name">
    </div>
    <div class="form-group">
        <label>Start date</label>
        <input type="datetime-local" class="form-control" formControlName="start_date">
    </div>
    <div class="form-group">
        <label>End date</label>
        <input type="datetime-local" class="form-control" formControlName="end_date">
    </div>
    <div class="form-group">
        <label>Number of questions</label>
        <input type="text" class="form-control" formControlName="num_of_questions">
    </div>

    <button type="button"(click) = "addQuiz()" class="btn btn-primary">CREATE QUIZ</button>
</form>

<div *ngIf ="alert !== undefined" class="alert alert-{{alert.type}} alert-dismissible fade show" role="alert">
    <strong>{{alert.message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()" >
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="postForm">
    <h2>Share Questions</h2>
    <p>Choose question to post in category</p>
        <div>
            <select [(ngModel)]="selectedQuestion">
                <option *ngFor="let q of questions" [value]="q.QuestionID" [selected]="selectedQuestion == q.QuestionID">{{q.Data}}</option>
            </select>
        </div>
    <button type="button" (click) = "addQuestionToCategory()"class="btn btn-primary">POST QUESTION</button>
</div>
    

