#return{
    display: inline;
    margin-left: 20px;
}
h1{
    margin: 20px;
    text-align: center;
    display:block;
    width: 1000px;
}

h2{
    margin: 20px;
}
.header{
    width: 1000px;
}

input{
    width:400px;
}
form{
    display: block;
    margin-left: 20px;
}

button{
    margin-top: 10px;
}

.postForm{
    display: block;
    margin-left: 20px;
}