.header {
    background-color: aquamarine;
  }
  
  .menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  ul li {
    margin: 0px 25px;
  }
  
  a {
    color: black;
  }
  
  ul.userbox {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  #join {
    display: inline-block;
    margin-bottom: 10px;
  }

  #joinInput{
    display: inline-block;
  }
  #joinSubmit{
    display: inline-block;
  }
  #joinClass {
    display: inline-block;
  }