<app-header></app-header>


<form *ngIf="!this.finished">
    <h1>Quiz</h1>
    <h2>Question: {{this.quiz[idn].details.Data}}</h2>
    <h3>Score: {{this.score}}</h3>
    <div class="form-group">
      <label>{{this.quiz[this.idn].details.data}}</label>
    </div>
    <div class="form-group">
        <button (click) = "submit(0)" class="btn btn-primary">{{this.answer1.Sentence}}</button>
    </div>
    <div class="form-group">
        <button (click) = "submit(1)" class="btn btn-primary">{{this.answer2.Sentence}}</button>
    </div>
    <div class="form-group">
        <button (click) = "submit(2)" class="btn btn-primary">{{this.answer3.Sentence}}</button>
    </div>
    <div class="form-group">
        <button (click) = "submit(3)" class="btn btn-primary">{{this.answer4.Sentence}}</button>
    </div>
  </form>

  <div *ngIf="this.finished">
      <h1>Quiz finished</h1>
      <h2>Your score: {{this.score}}</h2>
      <button id="done" class="btn btn-danger">Done</button>
  </div>